#include <windows.h>

// Rebuild this resource whenever the approved application icon changes.
IDI_APP_ICON ICON "resources/branding/app_icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Desktop Pet Maker Community\0"
            VALUE "FileDescription", "Desktop Pet Maker\0"
            VALUE "FileVersion", "1.0.0-beta\0"
            VALUE "InternalName", "DesktopPetMaker\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 Desktop Pet Maker contributors\0"
            VALUE "OriginalFilename", "pro.exe\0"
            VALUE "ProductName", "Desktop Pet Maker\0"
            VALUE "ProductVersion", "1.0.0-beta\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
